/* Colors */
/*
  ce-light-blue: #44c8f5
  ce-blue: #4d82bf
  ce-gray: #666666
*/


body {
  background-color: #4d82bf;
  background-image: url("../images/ce_home_a.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  height: 100%;
  width: 100%;

}

footer {
  background-color: transparent;
  height: 100px;
  margin-top: -100px;
}

.form-wrapper {
  padding: 2rem;
}

.btn-default {
  padding: 5px 10px;
  margin: 10px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white;

}
.btn-default:hover {
  background-color: white;
  color: #4d82bf;
  cursor: pointer;
}

input.form-control {
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.form-control:focus {
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-color: white;
}

#get-started {
  display: none;
}

#data-selection {
  width: 100%;
  margin-top: 50px;
}

#elements {
  width: 15rem;
}

.ui-autocomplete {
  background: rgba(0,0,0,0.5);
  outline: none;
  border-radius: 0px 0px 5px 5px;
  color:white;
}

.ui-menu .ui-menu-item a{
  background:transparent;
  height:10px;
  font-size:8px;
}

.element-list {
  margin: 30px -30px;
  overflow-x: scroll;
}

.selected-element {
  margin: 10px;
}

.element-logo {
  width: 10rem;
}

.element-label {
  width: 10rem;
  background-color: #666666;
  border-radius: 8px;
  margin: 5px 0px;
  padding: 5px 2px;
}

.btn-remove {
  font-size: 0.7rem;
  margin: 0px;
}

.btn-remove:hover {
  color: #ff3838;
}
