/* Colors */
/*
  ce-light-blue: #44c8f5
  ce-blue: #4d82bf
  ce-gray: #666666
*/


body {

  color: white;
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  background-color: #4d82bf;
  background-image: url("../images/ce_home_a.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

footer {
  background-color: transparent;
  height: 100px;
  margin-top: -100px;
}

.form-wrapper {
  padding: 2rem;
}

.btn-default {
  padding: 5px 10px;
  margin: 10px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white;

}
.btn-default:hover {
  background-color: white;
  color: #4d82bf;
  cursor: pointer;
}

input.form-control, .hs-form input[type='text'], .hs-form input[type='email'] {
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-style: none;
}

.form-control:focus {
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-color: white;
}

#get-started {
   /* use for transitioning */
   width: 100%;
   display:none;
}

#data-selection {
  width: 100%;
  margin-top: 50px;
  display: none; /* use for transitioning */
}

#data-selection p {
  font-size: 1rem;
  font-weight:300;
}

#new-selection-window {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
  display: none;
}

#custom-element-window {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.9);
  overflow: hidden;
}

#custom-element-name {
  background-color: white;
  color: black;
}

.api-type-select {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  -webkit-transition: background-color 200ms; /* Safari */
  transition: background-color 200ms;
}

.api-type-select:focus {
  outline: none;
}

.api-type-select:hover {
  background-color: #003399;
  cursor: pointer;
}

.api-type-active {
  background-color: #0099ff !important;

}

.catalog-search-box {
  width:100%;
  padding: 20px 50px 20px 50px;
  background-color: black;
  box-shadow: 0 10px 20px 0px black;
  position:relative;
}

#cancel-add {
  margin: 0;
}
#cancel-add:hover {
  color: #ff6666;
}

#cancel-custom {
  margin:20px;
  position: absolute;
  top: 0;
  right: 0;
}

#elements-new {
  font-size: 3rem;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  margin-right: 5px;
}

#element-catalog {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 150px;
}

.element-in-catalog {
  margin: 10px 10px;
  cursor: pointer;
}

.catalog-element-logo {
  width: 10rem;
  text-align: center !important;
}

.catalog-element-label {
  width: 10rem;
  background-color: #666666;
  border-radius: 8px;
  margin: 5px 0px;
  padding: 5px 2px;
  overflow: hidden;
  white-space: normal;
  text-align: center;
}

#custom-element-button-logo {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  #elements-new {
    font-size: 1rem;
  }
  #data-selection {
    margin-top: 5px;
  }

  #data-selection h2 {
    font-size: 1.7rem;
  }
}

#calculated-roi {
  display: none;
  margin-top: 50px;
}

#loader {
}

#elements {
  width: 15rem;
}

.ui-autocomplete {
  background: rgba(0,0,0,0.5);
  outline: none;
  border-radius: 0px 0px 5px 5px;
  color:white;
}

.ui-menu .ui-menu-item a{
  background:transparent;
  height:10px;
  font-size:8px;
}

.element-list {
  margin: 1rem -30px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space:nowrap;
}

.selected-element {
  margin: 0px 10px;
  display:none;
}

#add-an-element{
  display: inline;
}

#add-an-element-logo {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.element-logo {
  width: 10rem;
}

.element-label {
  width: 10rem;
  background-color: #666666;
  border-radius: 8px;
  margin: 5px 0px;
  padding: 5px 2px;
  overflow: hidden;
  white-space: normal;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .element-list {
    margin: 0.5rem -30px;
  }

  .element-logo {
    width: 6rem;
  }

  #add-an-element-logo{
    width: 6rem;
    height: 6rem;
  }

  .element-label {
    width: 9rem;
  }
}

.btn-remove {
  font-size: 0.7rem;
  margin: 0px;
}

.btn-remove:hover {
  color: #ff3838;
}

.advance-btn-div {

}

.btn-advance {
  font-size: 1.2rem;
  opacity: 0;
}

.btn-advance:hover {
  background-color: #4d82bf;
  color: white;
}

.api-count {
  margin-top: 20px;
}

.rest-apis {
  opacity: 0;
}

.rest-apis h3 {
  font-size: 1.3rem;
}

.soap-apis {
  opacity: 0;
}

.soap-apis h3 {
  font-size: 1.3rem;
}

hr.total-apis {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.total-apis {
  opacity: 0;
}

.total-apis h3 {
  font-size: 1.3rem;
}

.btn-go-back {
  margin-top: 15px;
}

.time-to-market {
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0;
}

.diy-market {
  opacity: 0;
  font-size: 1.5rem;
}

#diyBuildDays {
  font-weight: 700;
}

h1.ce-market {
  margin-top: 10px;
}

.ce-market {
  opacity: 0;
  font-size: 1.5rem;
}

#cloudElementsBuildDays {
  font-weight: 700;
}

#build-summary-header {
  font-size: 2rem;
}

.breakdown {
  font-size: 1rem;
  opacity: 0;
  margin-top: 15px;
}

@keyframes fadeinout {
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity: 0;}
}

.breakdown i {
  font-size: 1.7rem;
  animation-name: fadeinout;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 575px) {
  #build-summary-header {
    font-size: 4rem;
  }

  .api-count {
    margin-top: 40px;
  }

  .rest-apis h3 {
    font-size: 1.6rem;
  }

  .soap-apis h3 {
    font-size: 1.6rem;
  }

  .total-apis h3 {
    font-size: 1.6rem;
  }

  .time-to-market {
    font-size: 2.7rem;
  }

  .diy-market {
    font-size: 2.4rem;
  }

  .ce-market {
    font-size: 2.4rem;
  }

  .breakdown {
    font-size: 1.2rem;
  }

  .breakdown i {
    font-size: 3rem;
  }
}

.results {
  background-image: url("../images/white-hex-bg-lg-light.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: none;
  padding-bottom: 20px;
}

.circle {
  /*height: 120px;
  width: 120px;*/
  position:relative;
  min-width: 70px;
  min-height: 70px;
}

.progressbar-text {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width 100%;
}

svg {
  width: 70px !important;
  height: 70px !important;
  position: absolute !important;
}

.day-box {
  width: 100vw;
  padding: 50px 10px 0px 50px;
  opacity:0;
}

.more-info-box {
  font-size: 1.1rem;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  color: #444444;
}

.circle-label {
  font-size: 1.3rem;
  color: #333333;
  padding: 0px 30px 0px 30px;
  width: 500px;
}

.progressbar-text * {
  margin:0px;
}

.circle-number {
  font-size:1.2rem;
  text-align: center;

}

.circle-days {
  font-size:1rem;
}

i.fa-info-circle {
  font-size: 1.5rem;
  color: #666666;
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .day-box {
    padding-left: 200px;
  }

  .circle {
    min-width: 100px;
    min-height:100px;
  }
  .more-info-box {
    padding-left: 200px;
    padding-right: 200px;
  }

  .circle-label {
    font-size: 2rem;
  }

  .circle-number {
    font-size:1.5rem;
    text-align: center;

  }

  .circle-days {
    font-size:1.1rem;
  }

  i.fa-info-circle {
    font-size: 1.3rem;
  }

  svg {
    width: 100px !important;
    height: 100px !important;
  }
}



.info-active {
  color: #44c8f5 !important;
}

.secret-box {
  background-color: transparent;
  right:0;
  bottom: 0;
  width: 70px;
  height: 70px;
  position: absolute;
}
